</div>
<!-- Closing div of page-wrap -->

    <footer id="footer" class="footer">
        <div class="container">
            <div class="text-center">
                Great Castles™ 2017 - Created by
                <a href="https://github.com/OlegPavlyuk/Great-Castles.git">
                    Oleg Pavlyuk
                </a>
            </div>
        </div>
    </footer>
   
   </body>
</html>