<% include ../partials/header %>


    <div class="container">
        <header class="jumbotron text-center">
            <div class="container">
                <h2>Welcome To Greatest Castles Of The World!</h2>
                <p>
                    <a class="btn btn-primary btn-large" href="/castles/new">Add Castle</a>
                </p>
            </div>
        </header>
        
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% castles.forEach(function(castle) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= castle.image %>">
                        <div class="caption">
                            <h4> <%= castle.name %> </h4>
                        </div>
                        <p>
                            <a class="btn btn-primary" href="/castles/<%= castle._id%>">More Info</a>
                        </p>
                    </div>
                </div>
    

            <% }) %>
        </div>
    </div>
        
        


<% include ../partials/footer %>